extends layout      
                                                 
block contenuPrincipal
    section.connecter.h4
        if errors
            ul
                for error in errors
                    li= error.msg
        if err
            .text-danger #{err}
        -data = data || {}
        form.connecter(action='connecter' method='POST')
            .form-group
                label(for='username') Nom d'utilisateur
                    input.form-control(type='text' required='required' id='username' name='username' value=data.username placeholder='Nom d\'utilisateur')
            .form-group
                label(for='password') Mot de passe
                    input.form-control(type='password' required='required' id='password' name='password' value=data.password placeholder='Mot de passe')
            .form-group
                button.btn.btn-dark(type='submit' value='submit') Se connecter
